.header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background-color: hsl(0, 2%, 19%)d9d; 
    color: #010101; 
    padding: 10px 0;
    text-align: center;
    z-index: 1000; 
}

a {
    color: #000000; 
    text-decoration: none; 
}

a:hover {
    text-decoration: underline; 
}

/* Add a margin at the top of the main content so it doesn't get overlapped by the header */
/* div {
    margin-top: 50px;
} */

body {
    font-family: 'Arial', sans-serif;
    background-color: #F7F7F7;
    padding: 20px;
    padding-bottom: 70px;
    /* Adjusted padding to accommodate the height of the Inputbox */
}
.message:first-child {
    margin-top: 200px;
}
.message {
    padding: 8px 0;
    width: 60%;
    margin: 5px auto;
    border: none;
    box-sizing: border-box;
    /* To ensure padding and border don't affect total width */
}

.message p {
    margin: 0;
    word-wrap: break-word;
    background-color: transparent;
    width: 100%;
    padding: 3px 0;
}

.message.question p {
    background-color: #FFFFFF;
    padding: 5px 10px;
    border-radius: 0;
}

.inputbox-container {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    padding: 10px;
    box-sizing: border-box;
    background-color: #F7F7F7;
    z-index: 100;
}